table { border-spacing: 0; border-collapse: collapse; }
td { border: solid 1px; padding: 5px; } 
th { border: none; }

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.reg_button {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }